*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    color:#333;
    line-height:1.6;
}

header{
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
    background:rgba(15,39,71,0.95);
    backdrop-filter:blur(10px);
}

.navbar{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 20px;
}

.logo{
    color:white;
    font-family:'Montserrat',sans-serif;
    font-weight:800;
    font-size:1.3rem;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#f7941d;
}

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(15,39,71,0.75),rgba(15,39,71,0.75)), url('https://images.unsplash.com/photo-1504307651254-35680f356dfd?auto=format&fit=crop&w=1600&q=80');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero-content{
    max-width:900px;

}

.hero h1{
    font-family:'Montserrat',sans-serif;
    font-size:4rem;
    margin-bottom:5px;
}

.hero h2{
    font-family:'Montserrat',sans-serif;
    font-size:3rem;
    margin-bottom:5px;
}

.hero h3{
    font-family:'Montserrat',sans-serif;
    font-size:2rem;
    margin-bottom:5px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:15px 30px;
    background:#f7941d;
    color:white;
    text-decoration:none;
    border-radius:5px;
    margin:10px;
    transition:0.3s;
}

.btn:hover{
    background:#d97900;
}

section{
    padding:90px 20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.section-title{
    text-align:center;
	font-size:5rem;
    margin-bottom:10px;
}

.section-title h2{
    color:#0f2747;
    font-size:2.5rem;
    font-family:'Montserrat',sans-serif;
}

.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    align-items:center;
}

.about-content h1{
    font-family:'Montserrat',sans-serif;
    font-size:3.5rem;
    text-align:center;
    color:#0f2747;
}

.about-content h2{
    font-family:'Montserrat',sans-serif;
    font-size:2.8rem;
    color:#ff0000;
}

.about img{
    width:100%;
    border-radius:10px;
}

bussiness{
    background:#0f2747;
    color:white;
}

.business-grid{
    display:grid;
    text-align:center;
    gap:20px;
}

.business-grid h1{
    font-size:3.5rem;
    color:#0f2747;
}

.business-grid h2{
    font-size:1.8rem;
    color:#ff0000;
}

.business-grid h3{
    font-size:1.5rem;
    color:#0f2747;
}

.services{
    background:#f7f9fc;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.service h2{
    font-size:3.5rem;
    text-align:center;
    color:#0f2747;
    margin-bottom:15px;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#0f2747;
    margin-bottom:15px;
}

.stats{
    background:#0f2747;
    color:white;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    text-align:center;
    gap:20px;
}

.stat h2{
    font-size:4rem;
    color:#f7941d;
}

.vision{
    text-align:center;
}

.vision-box{
    background:#0f2747;
    color:white;
    padding:40px;
    border-radius:10px;
    margin-bottom:40px;
	text-align:center;
	font-size:2rem;
}

.vision h2{
    font-size:3.5rem;
    color:#0f2747;
    margin-bottom:15px;
}

.contact{
    background:#0f2747;
    color:white;
    text-align:center;
	font-size:1rem;
}

.contact h1{
    font-size:2rem;
    color:#ffffff;
}

.contact h2{
    font-size:1rem;
    color:#ffffff;
}

footer{
    background:#08182e;
    color:white;
    text-align:center;
    padding:20px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.about{
    grid-template-columns:1fr;
}

.stats-grid{
    grid-template-columns:repeat(2,1fr);
}

.nav-links{
    display:none;
}

}
